
.notification-icon {
   
    position: relative;
    width: 40px;
    height: 40px;
  
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .notification-count {
    position: absolute;
    top: 20px; 
    right: 25px; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    z-index: 2; 
  }
  
  .notification {
    position: absolute;
   top: 20px;
    right: 30px;
    font-size: 25px;
    
    color: black;
    z-index: 1; 
  }
  